[buildout]

extends =
    https://raw.githubusercontent.com/collective/buildout.plonetest/master/test-6.1.x.cfg
    base.cfg

auto-checkout +=
    collective.compoundcriterion
    collective.documentgenerator
    collective.documentviewer
    collective.eeafaceted.batchactions
    collective.eeafaceted.collectionwidget
    collective.eeafaceted.dashboard
    collective.eeafaceted.z3ctable
    collective.excelexport
    collective.iconifiedcategory
    imio.actionspanel
    imio.annex
    imio.dashboard
    imio.history

#update-versions-file = test-6.1.cfg

[sources]
collective.compoundcriterion = git ${remotes:collective}/collective.compoundcriterion.git pushurl=${remotes:collective_push}/collective.compoundcriterion.git branch=plone6
collective.documentgenerator = git ${remotes:collective}/collective.documentgenerator.git pushurl=${remotes:collective_push}/collective.documentgenerator.git
collective.documentviewer = git ${remotes:collective}/collective.documentviewer.git pushurl=${remotes:collective_push}/collective.documentviewer.git branch=plone6
collective.eeafaceted.batchactions = git ${remotes:imio}/collective.eeafaceted.batchactions.git pushurl=${remotes:imio_push}/collective.eeafaceted.batchactions.git branch=python3
collective.eeafaceted.collectionwidget = git ${remotes:collective}/collective.eeafaceted.collectionwidget.git pushurl=${remotes:collective_push}/collective.eeafaceted.collectionwidget.git branch=plone5_py3
collective.eeafaceted.dashboard = git ${remotes:collective}/collective.eeafaceted.dashboard.git pushurl=${remotes:collective_push}/collective.eeafaceted.dashboard.git branch=python3
collective.eeafaceted.z3ctable = git ${remotes:imio}/collective.eeafaceted.z3ctable.git pushurl=${remotes:imio_push}/collective.eeafaceted.z3ctable.git branch=plone6
collective.excelexport = git ${remotes:collective}/collective.excelexport.git pushurl=${remotes:collective_push}/collective.excelexport.git branch=plone6
collective.iconifiedcategory = git ${remotes:imio}/collective.iconifiedcategory.git pushurl=${remotes:imio_push}/collective.iconifiedcategory.git branch=python3
imio.actionspanel = git ${remotes:imio}/imio.actionspanel.git pushurl=${remotes:imio_push}/imio.actionspanel.git branch=python3
imio.annex = git ${remotes:imio}/imio.annex.git pushurl=${remotes:imio_push}/imio.annex.git branch=python3
imio.dashboard = git ${remotes:imio}/imio.dashboard.git pushurl=${remotes:imio_push}/imio.dashboard.git branch=python3
imio.history = git ${remotes:imio}/imio.history.git pushurl=${remotes:imio_push}/imio.history.git branch=plone6

[versions]
eea.facetednavigation = 16.0
z3c.batching = 3.1
z3c.caching = 3.1
z3c.form = 5.2
z3c.formwidget.query = 2.1
z3c.objpath = 2.1
z3c.pt = 4.5
z3c.relationfield = 2.0.0
z3c.unconfigure = 2.1
z3c.zcmlhook = 2.1

file-read-backwards = 3.2.0

# to keep prompt-toolkit < 3
ipython = 8.3.0

ipdb = 0.13.9
iw.debug = 0.3
jedi = 0.18.1
parso = 0.8.3
pdbp = 1.7.0

# Required by:
# ipdb
asttokens = 2.0.8
backcall = 0.2.0
executing = 1.1.1
matplotlib-inline = 0.1.6
pexpect = 4.8.0
pickleshare = 0.7.5
ptyprocess = 0.7.0
pure-eval = 0.2.2
stack-data = 0.5.1
traitlets = 5.4.0
